/*
=============== 
Begin Variables
===============
*/

:root {
  --clr-primary-1: rgb(119, 146, 201);
  --clr-primary-2: rgb(176,182,201);
  --clr-primary-3: rgb(64,74,111);
  --clr-primary-4: rgb(42,51,71);
  --clr-primary-5: rgb(19,25,45);
  --transition: all 0.3s linear;
}

/*
=============== 
End Variables
===============
*/

/*
=============== 
Begin Global Styles
===============
*/

*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
ul {
  list-style-type: none;
}
a {
  text-decoration: none;
}
h1 {
  font-size: 3rem;
}
h2 {
  font-size: 2rem;
}
h3 {
  font-size: 1.25rem;
}
h4 {
  font-size: 0.875rem;
}

@media screen and (min-width: 800px) {
  h1 {
    font-size: 4rem;
  }
  h2 {
    font-size: 2.5rem;
  }
  h3 {
    font-size: 1.75rem;
  }
  h4 {
    font-size: 1rem;
  }
  body {
    font-size: 1rem;
  }
  h1,
  h2,
  h3,
  h4 {
    line-height: 1;
  }
}
/*
=============== 
End Global Styles
===============
*/
.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
}

.nav .nav__header .logo {
  background: var(--clr-primary-5);
  color: white;
  border-radius: 0.2rem;
  padding: 0.5rem 1rem;
  letter-spacing: 0.2rem;
}

.nav .nav__right {
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 1rem;
  color: var(--clr-primary-4);

}

.nav .nav__right .page-title {
  font-size: 1.5rem;
  text-transform: capitalize;
  color: var(--clr-primary-4);
}

.nav .nav__right .nav-settings {
  color: var(--clr-primary-4);
}

.nav .nav__right--settings svg {
  color: var(--clr-primary-4);
}

.section-center {
  margin: 0 auto;
  width: 80vw;
  height: 450px;
  max-width: 800px;
  text-align: center;
  position: relative;
  display: flex;
  overflow: hidden;
}
.slide-img {
  width: 80%;
  height: 50%;
  object-fit: cover;
  margin-bottom: 3rem;
}
.slide-background-color {
  width: 100%;
  height: 100%;
}
article h4 {
  text-transform: uppercase;
}
.icon {
  font-size: 3rem;
  margin-top: 1rem;
  color: var(--clr-primary-5);
}
article {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  transition: var(--transition);
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
article.activeSlide {
  opacity: 1;
  transform: translateX(0);
}
article.lastSlide {
  transform: translateX(-100%);
}
article.nextSlide {
  transform: translateX(100%);
}

.section {
  display: flex;
  flex-flow: column;
  height: 100%;
  justify-content: space-around;
}

.section__title {
  text-transform: capitalize;
  color: #112a4363;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.section__body {
  flex-flow: column;
  justify-content: center;
  text-align: center;
  position: relative;
  display: flex;
  overflow: hidden;
  margin-bottom: 2rem;
  box-shadow: rgb(0 0 0 / 24%) 0px 3px 8px;
  flex: 2;
}

.section__body .article {
  display: flex;
  flex-flow: column;
  justify-content: space-around;
  align-items: center;
}

.section__body .article .article__controls h4 {
  flex-basis: 90%;
  font-size: 2rem;
}

.section__body .article .article__controls {
  display: flex;
  width: 100%;
  padding: 1rem;
  justify-content: space-around;
  align-items: center;
  flex: 1;
}

.section__body .article .article__controls .speaker-phone {
  cursor: pointer;
  position: absolute;
  bottom: 5rem;
  right: 0;
  display: flex;
  border-radius: 0.5rem;
}

.section__body .article .article__controls .speaker-phone svg {
  color: #00000052;
}

.section__footer {
  text-align: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.section__footer button {
  padding: 1rem;
  border-radius: 0.5rem;
  flex-basis: 30%;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  border: none;
  background: white;
}

.section__footer button svg {
  font-size: 3rem;
  transition: var(--transition);
}

.App {
  margin: 0 auto;
}

.home {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-bottom: 5rem;
  padding-top: 2rem;
  min-height: calc(100vh - 71px);
}

.home .section__title {
  text-transform: capitalize;
  color: var(--clr-primary-1);
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: absolute;
  top: 1rem;
  left: 1rem;
}

.home .section__body {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  grid-gap: 1rem;
  grid-gap: 1rem;
  gap: 1rem;
  box-shadow: none;
}

.home .section__body .game {
  font-size: 2.5rem;
}

.home .section__body .game a {
  min-width: 15rem;
  border: 1px solid var(--clr-primary-4);
  border-radius: 0.25rem;
  display: flex;
  justify-content: center;
  color: white;
  padding: 1rem;
  background: var(--clr-primary-3);
}

.home .section__body .game a:hover {
  background-color: var(--clr-primary-5);
  border: 1px solid var(--clr-primary-5);
}

.home .section__body .game a:active {
  background-color: var(--clr-primary-2);
  border: 1px solid var(--clr-primary-2);
}

.colors, .numbers, .letters, .shapes, .game-template {
  padding: 1rem 1rem 3rem 1rem;
  padding-bottom: 2rem;
  display: flex;
  flex-flow: column;
  justify-content: space-between;
  position: absolute;
  min-width: 100%;
  bottom: 0;
  left: 0;
  height: calc(100% - 71px);
}

.letters .slide-background-color,
.numbers .slide-background-color,
.shapes .slide-background-color {
  display: flex;
  justify-content: center;
  align-items: center;
  text-transform: capitalize;
  flex: 3;
}

.letters .slide-background-color p,
.numbers .slide-background-color p,
.shapes .slide-background-color p {
  font-size: 10rem;
}

.settings {
  min-height: calc(100vh - 71px);
  display: flex;
  flex-flow: column;
  align-items: center;
  padding: 1rem;
  justify-content: center;
}

.settings h2 {
  margin-bottom: 2rem;
  color: var(--clr-primary-3);
}

.settings .settings__options {
  width: 100%;
}

.settings .settings__options .setting {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 2rem;
  font-size: 1.5rem;
  background: var(--clr-primary-5);
  padding: 1rem;
  border-radius: 0.2rem;
  color: var(--clr-primary-2);
  flex: 1;
}

.settings .settings__options .setting #settingSpeed {
  color: white;
  background-color: var(--clr-primary-1);
  padding: 1rem;
  font-size: 1rem;
  border: navajowhite;
  border-radius: 0.5rem;
  outline: none;
}

.footer {
  padding: 1rem;
  background: rgb(19,25,45);
  color: white;
  min-width: 100%;
  position: absolute;
  bottom: 0;
  left: 0;
  text-align: right;
}

@media screen and (min-width: 992px) {
  .section {
    width: 95vw;
  }
}

@media only screen and (orientation: landscape) {
  .footer {
    position: inherit;
  }
  .home {
    padding-bottom: 0;
  }
  .section__body .article {
    flex-flow: row;
  }
  .letters .slide-background-color p,
  .numbers .slide-background-color p,
  .shapes .slide-background-color p {
    font-size: 5rem;
  }
}
