/*
=============== 
Begin Variables
===============
*/

:root {
  --clr-primary-1: hsl(21, 91%, 17%);
}

/*
=============== 
End Variables
===============
*/

/*
=============== 
Begin Global Styles
===============
*/

*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
ul {
  list-style-type: none;
}
a {
  text-decoration: none;
}
h1 {
  font-size: 3rem;
}
h2 {
  font-size: 2rem;
}
h3 {
  font-size: 1.25rem;
}
h4 {
  font-size: 0.875rem;
}

@media screen and (min-width: 800px) {
  h1 {
    font-size: 4rem;
  }
  h2 {
    font-size: 2.5rem;
  }
  h3 {
    font-size: 1.75rem;
  }
  h4 {
    font-size: 1rem;
  }
  body {
    font-size: 1rem;
  }
  h1,
  h2,
  h3,
  h4 {
    line-height: 1;
  }
}
/*
=============== 
End Global Styles
===============
*/

.section-center {
  margin: 0 auto;
  width: 80vw;
  height: 450px;
  max-width: 800px;
  text-align: center;
  position: relative;
  display: flex;
  overflow: hidden;
}
.slide-img {
  width: 80%;
  height: 50%;
  object-fit: cover;
  margin-bottom: 3rem;
}
.slide-background-color {
  width: 100%;
  height: 100%;
}
article h4 {
  text-transform: uppercase;
}
.icon {
  font-size: 3rem;
  margin-top: 1rem;
  color: var(--clr-primary-5);
}
article {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  transition: var(--transition);
}
article.activeSlide {
  opacity: 1;
  transform: translateX(0);
}
article.lastSlide {
  transform: translateX(-100%);
}
article.nextSlide {
  transform: translateX(100%);
}

.section {
  display: flex;
  flex-flow: column;
  height: 100%;
  justify-content: space-around;
}

.section__title {
  text-transform: capitalize;
  color: #112a4363;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.section__body {
  flex-flow: column;
  justify-content: center;
  text-align: center;
  position: relative;
  display: flex;
  overflow: hidden;
  min-height: 25rem;
}

.section__body .article {
  display: flex;
  flex-flow: column;
  justify-content: space-around;
  align-items: center;
}

.section__body .article .article__controls h4 {
  flex-basis: 90%;
  font-size: 2rem;
}

.section__body .article .article__controls {
  display: flex;
  width: 100%;
  padding: 1rem;
  justify-content: space-around;
  align-items: center;
}

.section__body .article .article__controls .speaker-phone {
  cursor: pointer;
  position: absolute;
  bottom: 5rem;
  right: 0;
  display: flex;
  border-radius: 0.5rem;
}

.section__body .article .article__controls .speaker-phone svg {
  color: #00000052;
}

.section__footer {
  text-align: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.section__footer button {
  padding: 1rem;
  border-radius: 0.5rem;
  border: 1px solid pink;
  flex-basis: 30%;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.section__footer button svg {
  font-size: 3rem;
  transition: var(--transition);
}

.App {
  margin: 0 auto;
}

.home {
  height: 100%;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.home .section__title {
  text-transform: capitalize;
  color: #112a4363;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: absolute;
  top: 1rem;
  left: 1rem;
}

.home .section__body {
  display: flex;
  flex-flow: row wrap;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  margin-top: 4rem;
}

.home .section__body .game {
  font-size: 2rem;
  min-width: 10rem;
}

.home .section__body .game a {
  min-width: 5rem;
  min-height: 5rem;
  box-shadow: 0 3px 6px rgb(0 0 0 / 16%), 0 3px 6px rgb(0 0 0 / 23%);
  display: flex;
  justify-content: center;
  align-items: center;
  background: red;
  color: white;
  padding: 1rem;
}

.colors, .numbers, .letters, .shapes {
  padding: 1rem;
  min-height: 90vh;
  display: flex;
  flex-flow: column;
  justify-content: space-between;
}

.letters .slide-background-color,
.numbers .slide-background-color,
.shapes .slide-background-color {
  display: flex;
  justify-content: center;
  align-items: center;
  text-transform: capitalize;
}

.letters .slide-background-color p,
.numbers .slide-background-color p,
.shapes .slide-background-color p {
  font-size: 10rem;
}

@media screen and (min-width: 992px) {
  .section {
    width: 95vw;
  }
}
