/*
=============== 
Begin Variables
===============
*/

:root {
  --clr-primary-1: rgb(119, 146, 201);
  --clr-primary-2: rgb(176,182,201);
  --clr-primary-3: rgb(64,74,111);
  --clr-primary-4: rgb(42,51,71);
  --clr-primary-5: rgb(19,25,45);
  --transition: all 0.3s linear;
}

body {
  font-family: 'Titillium Web', sans-serif
}

/*
=============== 
End Variables
===============
*/

/*
=============== 
Begin Global Styles
===============
*/

*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
ul {
  list-style-type: none;
}
a {
  text-decoration: none;
}
/*
=============== 
End Global Styles
===============
*/

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem;
}

.nav .nav__header .logo {
  border-radius: 0.2rem;
  padding: 0.5rem 1rem;
  letter-spacing: 0.2rem;
  position: relative;
  display: flex;
  align-items: center;
}

.nav .nav__header .logo svg {
  transform: translateX(-0.2rem);
}

.nav .nav__right {
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 1rem;
  color: var(--clr-primary-4);

}

.nav .nav__right .nav-title {
  font-size: 1.5rem;
  text-transform: capitalize;
  color: var(--clr-primary-4);
}

.nav .nav__right .nav-settings {
  cursor: pointer;
}

.nav .nav__right .nav-settings {
  color: var(--clr-primary-4);
}

.nav .nav__right--settings svg {
  color: var(--clr-primary-4);
}

.backdrop {
  background: #000000c4;
  width: 100vw;
  height: 100vh;
  z-index: 200;
  position: absolute;
  top: 0;
  left: 0;
}

.sidebar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: var(--clr-white);
  display: grid;
  grid-template-rows: auto 1fr auto;
  grid-row-gap: 1rem;
  row-gap: 1rem;
  box-shadow: var(--clr-red-dark);
  transition: var(--transition);
  transform: translate(-100%);
  z-index: 200;
  padding: 1rem;
  border-radius: 0 3.5rem 0 0;
}

.sidebar .sidebar-close-btn {
  cursor: pointer;
  width: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  background: none;
  border: none;
  min-height: 2rem;
  font-size: 2rem;
}

.sidebar .sidebar-header {
  padding: 1rem;
  justify-content: flex-end;
  align-items: center;
  display: flex;
}

.sidebar-content {
  padding-top: 1rem;
  overflow: scroll;
}

.show-sidebar {
  transform: translate(0);
}

.sidebar-toggle {
  position: fixed;
  top: 2rem;
  left: 3rem;
  font-size: 2rem;
  background: transparent;
  border-color: transparent;
  color: var(--clr-primary-5);
  transition: var(--transition);
  cursor: pointer;
  animation: bounce 2s ease-in-out infinite;
}

.section-center {
  margin: 0 auto;
  width: 80vw;
  height: 450px;
  max-width: 800px;
  text-align: center;
  position: relative;
  display: flex;
  overflow: hidden;
}
.slide-img {
  width: 80%;
  height: 50%;
  object-fit: cover;
  margin-bottom: 3rem;
}
.slide-background-color {
  width: 100%;
  height: 100%;
}
article h4 {
  text-transform: uppercase;
}
.icon {
  font-size: 3rem;
  margin-top: 1rem;
  color: var(--clr-primary-5);
}
article {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  transition: var(--transition);
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
article.activeSlide {
  opacity: 1;
  transform: translateX(0);
}
article.lastSlide {
  transform: translateX(-100%);
}
article.nextSlide {
  transform: translateX(100%);
}

.section {
  display: flex;
  flex-flow: column;
  height: 100%;
  justify-content: space-around;
}

.section__title {
  text-transform: capitalize;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-bottom: 1rem;
  font-size: 1.5rem;
}

.section__title svg {
  margin-right: 0.5rem;
  cursor: pointer;
}

.section__body {
  flex-flow: column;
  justify-content: center;
  text-align: center;
  position: relative;
  display: flex;
  overflow: hidden;
  margin-bottom: 2rem;
  box-shadow: rgb(0 0 0 / 24%) 0px 3px 8px;
  flex: 10;
}

.section__body .article {
  display: flex;
  flex-flow: column;
  justify-content: space-around;
  align-items: center;
  padding: 0.5rem;
}

.section__body .article .article__controls h4 {
  flex-basis: 90%;
  font-size: 2rem;
}

.section__body .article .article__controls {
  display: flex;
  width: 100%;
  padding: 1rem;
  justify-content: space-around;
  align-items: center;
  flex: 1;
}

.section__body .article .article__controls .speaker-phone {
  cursor: pointer;
  position: absolute;
  bottom: 5rem;
  right: 0;
  display: flex;
  border-radius: 0.5rem;
}

.section__body .article .article__controls .speaker-phone svg {
  color: #00000052;
}

.section__footer {
  text-align: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  flex: 1 1;
  border-top: 1px solid var(--clr-primary-2);
  padding-top: 1rem;
}

.section__footer button {
  padding: 1rem;
  border-radius: 0.5rem;
  flex-basis: 30%;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  border: none;
  background: white;
}

.section__footer button svg {
  font-size: 3rem;
  transition: var(--transition);
}

.App {
  margin: 0 auto;
}

.home {
  display: flex;
  flex-flow: column;
  overflow: hidden;
  min-height: calc(100vh - 116px);
  justify-content: space-around;
}

.home .home__callout {
  padding: 1rem;
  display: flex;
  flex-flow: column;
  justify-content: space-between;
  align-items: center;
  text-align: center;
}

.home__callout p {
  font-size: 2rem;
  font-style: inherit;
}

.home .home__action {
  display: flex;
  justify-content: center;
}

.home .home__action .start-learning {
  padding: 1.5rem;
  border-radius: 0.25rem;
  transition: 0.3s;
  opacity: 1;
}

.home .home__action .start-learning:hover {
  opacity: 0.8;
}

.home .home__benefits {
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
  gap: 1rem 3rem;
  padding: 1rem;
  font-size: 1.2rem;
}

.home .home__benefits .benefits_card {
  display: flex;
  justify-content: space-around;
}

.home .home__benefits .benefits_card:last-child {
  margin-bottom: 0;
}

.home .home__benefits .benefits_card svg {
  margin-right: 2rem;
}

.home .home__promotional .home__promotional--image-container {
  padding: 2rem;
}

.home .home__promotional .home__promotional--image-container img {
  width: 100%;
  border-radius: 1rem;
  width: 15rem;
}

.learn {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: calc(100vh - 60px);
  overflow: hidden;
}

.learn .section__body {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  grid-gap: 1rem;
  grid-gap: 1rem;
  gap: 1rem;
  box-shadow: none;
}

.learn .section__body .game {
  font-size: 2.5rem;
}

.learn .section__body .game a {
  min-width: 15rem;
  border: 1px solid var(--clr-primary-4);
  border-radius: 0.25rem;
  display: flex;
  justify-content: center;
  color: white;
  padding: 1rem;
  background: var(--clr-primary-3);
}

.learn .section__body .game a:hover {
  background-color: var(--clr-primary-5);
  border: 1px solid var(--clr-primary-5);
}

.learn .section__body .game a:active {
  background-color: var(--clr-primary-2);
  border: 1px solid var(--clr-primary-2);
}

.colors, .numbers, .letters, .shapes, .game-template {
  padding: 1rem 1rem 3rem 1rem;
  padding-bottom: 2rem;
  display: flex;
  flex-flow: column;
  justify-content: space-between;
  position: absolute;
  min-width: 100%;
  bottom: 0;
  left: 0;
  height: calc(100% - 60px);
}

.letters .slide-background-color,
.numbers .slide-background-color,
.shapes .slide-background-color {
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 3;
}

.letters .slide-background-color p,
.numbers .slide-background-color p,
.shapes .slide-background-color p {
  font-size: 10rem;
}

.settings {
  min-height: calc(100vh - 71px);
  display: flex;
  flex-flow: column;
  align-items: center;
  padding: 1rem;
  justify-content: center;
}

.settings h2 {
  margin-bottom: 2rem;
  color: var(--clr-primary-3);
}

.settings__options {
  width: 100%;
}

.settings__options .setting {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 2rem;
  font-size: 1.5rem;
  background: var(--clr-primary-5);
  padding: 1rem;
  border-radius: 0.2rem;
  color: var(--clr-primary-2);
  flex: 1 1;
  min-height: 5rem;
}

.settings__options .setting #settingSpeed {
  color: white;
  background-color: var(--clr-primary-1);
  padding: 0.1rem 1rem;
  font-size: 1rem;
  border-radius: 0.5rem;
  outline: none;
  min-height: 2.25rem;
}

.footer {
  padding: 1rem;
  background: rgb(19,25,45);
  color: white;
  width: 100%;
  text-align: right;
}

@keyframes bounce {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.5);
  }
  100% {
    transform: scale(1);
  }
}

@media screen and (min-width: 768px) {
  .sidebar {
    width: 400px;
  }
  .home .home__promotional {
    flex-flow: row;
  }
  .home .home__benefits {
    justify-content: center;
  }
}

@media screen and (min-width: 992px) {
  .section {
    width: 95vw;
  }
}

@media only screen and (orientation: landscape) {
  .colors, .numbers, .letters, .shapes, .game-template {
    padding: 0 2rem;
  }
  .home {
    height: auto;
  }
  .footer {
    position: inherit;
  }
  .learn {
    padding-bottom: 0;
  }
  .section__body .article {
    flex-flow: row;
  }
  .section__title {
    font-size: 1rem;
  }
  .letters .slide-background-color p,
  .numbers .slide-background-color p,
  .shapes .slide-background-color p {
    font-size: 5rem;
  }
  .slide-background-color svg {
    font-size: 5rem;
}
}
